# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Runtime per-user window state
TilesEditor/settings.json
TilesEditor/imgui.ini

# Exclude
!Directories/premake