[submodule "Tiles/vendor/imgui"]
	path = Tiles/vendor/imgui
	url = https://github.com/stephen-os/imgui.git
[submodule "Tiles/vendor/imguifd"]
	path = Tiles/vendor/imguifd
	url = https://github.com/stephen-os/ImGuiFileDialog.git
[submodule "Tiles/vendor/glfw"]
	path = Tiles/vendor/glfw
	url = https://github.com/stephen-os/glfw.git
[submodule "Tiles/vendor/glad"]
	path = Tiles/vendor/glad
	url = https://github.com/stephen-os/glad.git
[submodule "Tiles/vendor/spdlog"]
	path = Tiles/vendor/spdlog
	url = https://github.com/stephen-os/spdlog.git
[submodule "Tiles/vendor/glm"]
	path = Tiles/vendor/glm
	url = https://github.com/g-truc/glm.git
